{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

{% ifequal user.Role "admin"  %}

<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container">

    <div class="section-title">
    </div>

    <div class="row">
      <div class="col-12">
        <div class="member" >
          <div class="pic"><a href="{% url 'trainer:details' pk=trainer.pk%}"><img src="{{ trainer.Image_URL }}" alt=""></a></div>
          <h4>{{ trainer.Name }}</h4>
          <span>{{ trainer.Title }}</span>
          <div class="social">
            <a href="{{ trainer.Facebook_URL }}"><i class="icofont-facebook"></i></a>
            <a href="{{ trainer.Whatsapp_Number }}"><i class="icofont-whatsapp"></i></a>
            <a href=" {{trainer.Instagram_URL}} "><i class="icofont-instagram"></i></a>
            <a href=" {{ trainer.Linkedin_URL }} "><i class="icofont-linkedin"></i></a>
          </div>
        </div>
      </div>

<div class="col-1 offset-8">
  <a href="{% url 'trainer:edit' pk=trainer.pk%}"><button type="update" class="btn btn-primary">Update</button></a>

</div>
<div class="col-1">
  <a href="{% url 'trainer:remove' pk=trainer.pk%}"><button type="update" class="btn btn-danger">Delete</button></a>


</div>

  </div>
</section><!-- End Team Section -->

{% endifequal %}

{% endblock %}
